body {
    background-color: #212126;
}

.text {
    color: white;
    font-family: Helvetica;
    position: fixed;
    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.title {
    font-size: 100px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 30px;
    text-align: right;
    margin-top: 0;
}
