body {
    background-color: #16181C;
}

.text {
    color: white;
    font-family: Helvetica;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#title {
    font-size: 1000%;
    margin-bottom: 0;
}

#subtitle {
    font-size: 200%;
    text-align: right;
    margin-top: 0;
}
